.mainMenu {
	margin-left:50px;
	margin-top:50px;
	display:inline-block;
}

.mainMenu > .contentBox {
	padding:15px;
	background-color:#FFFFFF;
	position:relative;
	min-height:385px;
	width:186px;
	z-index:1;
}

.mainMenu * .content {
	margin:5px;
}

.tab {
	position:relative;
	z-index:0;
}

.tab:hover, .tab.active {
	z-index:2;
	cursor:pointer;
}

.tab.l0 {
	position:absolute;
	top:18px;
	height:26px;
	width:26px;
	background-image: url("../img/icon/init_open.png");
}

.tab.l0.close {
	background-image: url("../img/icon/init_shut.png");
}

.leftColumn > .tab.l0 {
	left:18px;
}

.rightColumn > .tab.l0 {
	right:18px;
}

.mainMenu * .tab.l1 {
	margin-top:-45px;
	float:left;
	padding:0 2px;
	width:45px;
	height:55px;
}

.mainMenu * .tab.l2 {
	margin-left:-45px;
	padding:2px 0;
	width:55px;
	height:45px;
}

.mainMenu * .tab.l3 {
	margin-left:-40px;
	padding:2px 0;
	width:50px;
	height:40px;
}

.mainMenu > .tabContTitle {
	padding:0 10px;
}

.mainMenu > .tabCont {
	display:none;
}

.mainMenu > .tabCont.l2 {
	padding:10px 0;
	position:absolute;
}

.mainMenu * .categoryEye {
	float:left;
	width:15px;
	height:15px;
	margin-right:5px;
	background-image: url("../img/icon/eye_shut.png");
}

.mainMenu * .categoryEye.open {
	background-image: url("../img/icon/eye_open.png");
}

.mainMenu * .categoryTitle {
	cursor:pointer;
}

.mainMenu * .categoryTitleText {
	font-weight:bold;
}

.mainMenu * .category {
	display:none;
	margin-left:10px;
}

.mainMenu * .entry {
	text-indent:-10px;
	margin-left:10px;
}

.infoMenu {
	width:200px;
	min-height:385px;
	margin-top:50px;
}