.mainMenu {
	float:left;
	min-height:385px;
	margin-left:50px;
	margin-top:50px;
	background-color:#FFFFFF;
}

.mainMenu > .content {
	margin:10px;
	padding:10px;
}

.border {
	background-image: url("../img/stripes/hor4.png"), url("../img/stripes/vert4.png"), url("../img/stripes/hor4.png"), url("../img/stripes/vert4.png");
    background-position: left top, right top, right bottom, left bottom;
    background-repeat: no-repeat;
}

.tab {
	position:relative;
	z-index:-1;
}

.tab:hover, .tab.active {
	z-index:0;
	cursor:pointer;
}

.tab.l0 {
	position:absolute;
	top:18px;
	left:18px;
	height:26px;
	width:26px;
}

.tab.l0.open {
	background-image: url("../img/icon/init_open.png");
}

.tab.l0.close {
	background-image: url("../img/icon/init_shut.png");
}

.tab.l1 {
	margin-top:-45px;
	float:left;
	padding:0 2px;
	width:45px;
	height:55px;
}

.tab.l2 {
	margin-left:-45px;
	padding:2px 0;
	width:55px;
	height:45px;
}

.tab.l3 {
	margin-left:-40px;
	padding:2px 0;
	width:50px;
	height:40px;
}

.tabContTitle {
	padding:0 10px;
}

.tabCont {
	display:none;
}

.tabCont.l2 {
	padding:10px 0;
	position:absolute;
}

.categoryEye {
	float:left;
	width:15px;
	height:15px;
	margin-right:5px;
	background-image: url("../img/icon/eye_shut.png");
}

.categoryEye.open {
	background-image: url("../img/icon/eye_open.png");
}

.categoryTitle {
	cursor:pointer;
}

.categoryTitleText {
	font-weight:bold;
}

.category {
	display:none;
	margin-left:10px;
}